.video {
  width: 180%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -56%);
  position: absolute;
}
.subText{
  font-weight: 400;
  font-size: 11px;
  line-height: 140%;
  color: #999999;
  margin-top: 20px;
  letter-spacing: 0;
}