.wrapper {
  position: relative;
  z-index: 9999;
}

.main-image {
  position: relative;
  bottom: 698px;
  z-index: 2;
  left: 115px;
}

.product {
  position: absolute;
  bottom: 50px;
  left: 30px;
}

.alice-carousel__wrapper {
  bottom: 270px;
  width: 140px;
}

.alice-carousel__stage {
  text-align: center;
}

.alice-carousel__stage-item:before,
.alice-carousel__stage-item:after {
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
}
