.video {
  width: 500px;
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
}

.body {
  padding-bottom: 50%;
}

.logo {
  height: 35px;
  width: 170px;
  margin-top: 16px;
}
