.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  bottom: 39.07px;
}

.instructionText {
  margin-top: 15px;
  margin-bottom: 5.45vh;
  font-family: Trenda, "Noto Sans CJK SC", "Noto Sans CJK TC";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #202020;
}

.links {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    font-family: Trenda, "Noto Sans CJK SC", "Noto Sans CJK TC";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #202020;
    text-decoration: none;
    white-space: nowrap;
    margin-bottom: 7px;
  }

  a:nth-child(odd) {
    margin-right: 26.67px;
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.logo {
  height: 34px;
  width: 81px;
}

.title {
  font-weight: 400;
  font-size: 61.8126px;
  line-height: 67px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #202020;
  margin: 26px;

  sup {
    vertical-align: top;
    font-size: 0.33em;
    line-height: 2;
    font-weight: 500;
  }
}

.button {
  background: transparent;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 175px;
  height: 453px;
  outline: none;
  border: none;
}

@media screen and (min-height: 100px) {
  .button {
    top: 4%;
  }
  .instructionText{
    margin-bottom: 5px;
  }

  .overlay {
    bottom: 5px;
  }
  .background {
    object-position: 0 -171px;
  }
}

@media screen and (min-height: 680px) {
  .button {
    top: 60px;
  }

  .background {
    object-position: 0 -80px;
  }
}

@media screen and (min-height: 700px) {
  .button {
    top: 15%;
  }

  .background {
    object-position: 0 -96px;
  }
}

@media screen and (min-height: 819px) {
  .button {
    top: 22%;
  }

  .background {
    object-position: 0 0;
  }
}
