.container {
  display: flex;
  position: fixed;
  top: 42px;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
  width: 100vw;
  height: 32px;
  z-index: 1000;

  img {
    width: 35px;
  }
}

.back-button {
  width: 25px;
  height: 25px;
  background: transparent;
  outline: none;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 100%;
  text-align: center;
}

.sound-container {
  position: absolute;
  left: 287px;
  height: 32px;
  width: 32px;

  img {
    height: 32px;
    width: 32px;
    object-fit: cover;
  }
}

@media screen and (min-height: 100px) {
  .container {
    top: 20px;
  }
  .sound-container {
    left: 280px;
  }
}

@media screen and (min-height: 680px) {
  .container {
    top: 30px;
  }
  .sound-container {
    left: 283px;
  }
}

@media screen and (min-height: 700px) {
  .container {
    top: 42px;
  }
  .sound-container {
    left: 285px;
  }
}

@media screen and (min-height: 819px) {
  .container {
    top: 42px;
  }
  .sound-container {
    left: 287px;
  }
}
