.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.leftBtn {
  height: 24px;
  width: 24px;
}

.logo {
  width: 46.55px;
  height: 19.51px;
}

.rightBtn {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.01em;
  color: #202020;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
  border: none;
}
